.cart-dropdown-container {
    position: absolute;
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
    top: 70px;
    right: 8px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
  
    .cart-items {
      height: 320px;
      display: flex;
      flex-direction: column;
      overflow:scroll;
    }
  
    button {
      margin-top: auto;
    }
  }
