*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto Slab',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
  width:10px;
}

::-webkit-scrollbar-track{
  background-color:ghostwhite;
}

::-webkit-scrollbar-thumb{
  background-image: linear-gradient(grey,gray);
    border-radius: 15px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color:black;
}
